 /*General CSS*/
 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 body {
     background-color: #fff;
     font-family: 'Ubuntu', sans-serif;
 }

 .container {
     width: 85%;
     margin: 0 auto;
 }

 /* Header Banner Start */
 header {
     margin-top: 50px;
 }

 .banner {
     display: flex;
     justify-content: center;
     align-items: center;
     column-gap: 24px;
     background-color: #161616;
     border-radius: 30px;
 }

 .banner-title {
     width: 45%;
     padding-left: 25px;
     padding-bottom: 25px
 }

 .banner-title h1 {
     font-size: 70px;
     font-weight: 700;
     color: #fff;
     line-height: 80px;
     margin-bottom: 20px;
 }

 .banner-title p {
     font-weight: 400;
     font-size: 16px;
     line-height: 26px;
     color: #fff;
     margin-bottom: 20px;
 }

 .banner-title .btn {
     padding: 16px 25px;
     background-color: #DD0000;
     font-size: 16px;
     color: #fff;
     border: none;
     border-radius: 5px;
     cursor: pointer;
 }

 .banner-title .btn i {
     padding-left: 10px;
 }

 .banner-img {
     width: 40%;
     padding-top: 25px;
 }

 .banner-img img {
     width: 100%;
 }

 /* Header Banner End */
 /* Blog & Match Start */
 .blogs {
     margin: 100px 0;
 }

 .blog-container {
     display: flex;
     justify-content: space-between;
 }

 .sidenav {
     width: 24%;
     height: 250px;
     background-color: #161616;
     border-radius: 10px;
     display: flex;
     justify-content: space-evenly;
     flex-direction: column;
     padding: 0 25px;
 }

 .sidenav a {
     text-decoration: none;
     background-color: #fff;
     font-weight: 500;
     font-size: 18px;
     line-height: 30px;
     text-align: center;
     color: #161616;
     border-radius: 10px;
     padding: 10px 10px;
 }

 .sidenav .active {
     background-color: #DD0000;
     color: #fff;
 }

 .content {
     width: 74%;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 20px;
 }

 .blog,
 .match {
     border: 1px solid #E8E8E8;
     border-radius: 10px;
 }

 .match {
     padding: 50px 20px;
 }

 .flag-img {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .blog-img img,
 .flag-1 img,
 .flag-2 img {
     width: 100%;
 }

 .blog-info {
     padding: 20px;
 }

 .blog-info a {
     text-decoration: none;
     font-weight: 500;
     font-size: 16px;
     line-height: 24px;
     color: #161616;
     border: 1px solid #161616;
     border-radius: 5px;
     padding: 5px 20px;
     background: transparent;
 }

 .blog-info h3 {
     padding-top: 15px;
     padding-bottom: 20px;
     font-weight: 600;
     font-size: 18px;
     line-height: 27px;
     color: #161616;
 }

 .blog-info p {
     font-weight: 400;
     font-size: 16px;
     line-height: 26px;
     color: #525252;
 }

 .blog-info p .read-time {
     padding-left: 5px;
     margin-right: 30px;
 }

 .blog-info p .comment {
     padding-left: 5px;
 }

 .match-info {
     margin-top: 20px;
     text-align: center;
 }

 .match-info h2 {
     font-weight: 600;
     font-size: 20px;
     line-height: 30px;
     color: #161616;
 }

 .match-info p {
     font-weight: 400;
     font-size: 16px;
     line-height: 20px;
     color: #4D4D4D;
     margin-top: 10px;
 }

 /* Blog & Match End */
 /* Footer Start */
 footer {
     background-color: #161616;
 }

 .footer-content {
     padding: 100px 0;
     text-align: center;
 }

 .footer-content h2 {
     font-size: 50px;
     font-weight: 600;
     margin-bottom: 50px;
     color: #fff;
 }

 .footer-content hr {
     border: 1px solid rgba(255, 255, 255, 0.5);
     margin-bottom: 40px;
 }

 .footer-content .footer-menu a {
     text-decoration: none;
     margin: 0 20px;
     color: #B9B9B9;
 }

 .footer-content .social-icon {
     margin-top: 30px;
 }

 .footer-content .social-icon li {
     list-style: none;
     display: inline;
     margin: 0 20px;
 }

 .footer-content .social-icon li a {
     text-decoration: none;
     font-size: 30px;
     color: #fff;
 }

 /* Footer End */